<h1>Login</h1>

<%= form_with(model: @user, local: true) do |f|%>

<%= f.label :Username %> <br>
<%= f.text_field "username", autofocus: true, placeholder: "Enter Username", id: :username %><br><br>

<%= f.submit "Login" %>
<% end %>

