<h1> Events</h1>

<% @events.each do |event| %>
<ul>
	<li>
		<%= event.name %>
		<strong>created by:</strong>
		<%= event.creator.username %>	
		<%= link_to 'Show', event_path(event) %> 
	</li>
</ul>

<% end %>

<% if current_user %>      
<%= link_to 'Create New Event', new_event_path %>
<% end %>