<h1>Create Event</h1>

<%= form_with(model: @event, local: true) do |f|%>

<%= f.label :description %> <br>
<%= f.text_field :name, autofocus: true, placeholder: "Enter description" %><br><br>

<%= f.submit "Create Event" %>
<% end %>

